.primary-button {
    display: flex;
    margin: 0 0 15px 0;
    color: rgb(255, 255, 255);
    background-color: rgb(29, 161, 242);
    line-height: 1;
    font-size: 15px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-direction: row;
    height: 39px;
    width: 100%;
    border-radius: 9999px;
    max-width: 100%;
}

.primary-button:hover {
    background-color: rgb(26, 145, 218);
    text-decoration: none;
}

.secondary-button {
    display: flex;
    margin: 0 0 15px 0;
    color: rgb(29, 161, 242);
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(29, 161, 242);
    line-height: 1;
    font-size: 15px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-direction: row;
    height: 39px;
    width: 100%;
    border-radius: 9999px;
    max-width: 100%;
}

.secondary-button:hover {
    background-color: rgba(29, 161, 242, 0.1);
    text-decoration: none;
}
